.maincomponent
{
    text-align:center;
    background-color: black;
    color: hotpink;
    display: flex;
}
.boxcls
{
    border: 2px solid red;
}
.box
{
    width: 180px;
    height: 180px;
    border-radius: 15px;
    font-size: 5px;
}
#box1
{
    background-color:mediumvioletred;
    transition: width 2s;
}
#box2
{
    background-color: blue;  
    transition: width 2s;  
}
#box3
{
    background-color: rgb(21, 128, 0); 
    transition: width 2s;   
}
#box4
{
    background-color: red; 
    transition: width 2s;  
}
#box5
{
    background-color: yellow; 
    transition: width 2s;   
}
#box1:hover
{
    background-color: rgb(240, 197, 7);
    width: 500px;
    height: 250px;
}
#box2:hover
{
    background-color: blue;
    width: 500px;
    height: 250px;
}
#box3:hover
{
    background-color: brown;
    width: 500px;
    height: 250px;
}
#box4:hover
{
    background-color: coral;
    width: 500px;
    height: 250px;
}
#box5:hover
{
    background-color: darkslateblue;
    width: 500px;
    height: 250px;
}
.newboxs
{
    background-color:yellow;
}

.newbox
{
    width:180px;
    height:180px;
    font-size:12px;
    border-radius:16px;
    background-color:red;
    transition:width 2s;
}
#b1
{
    background-color:black;
    transition-timing-function:linear;
}
#b1:hover{
    background-color:aqua;
    width:300px;
}
#b2
{
    background-color:darkslateblue;
    transition-timing-function:linear;
}
#b2:hover{
    background-color: red;
    width:300px;
}
#b3
{ background-color:aqua;
    transition-timing-function:linear
}
#b3:hover{
    background-color: blue;
    width:300px;
}
#b4
{
    background-color:brown;
    transition-timing-function:linear;
}
#b4:hover{
    background-color: blue;
    width:300px;
}
#b5
{
    background-color:coral;
    transition-timing-function:linear;
}
#b5:hover
{
    background-color: blue;
    width:300px;
}
.newrotate
{
    width:100px;
    height:100px;
    border-radius:16px;
    background-color:red;
    transition:width 2s, height 2s, transform 2s;
}
#newrotate:hover
{
    width:400px;
    height:400px;
    background-color:blue;
    transform:rotate(180deg); 
} 
.scrolltext
{
    font-family:'Lucida Grande';
    font-style:oblique;
    font-size:30px;
    width:100%;
    color:brown;
    overflow:hidden;
    box-sizing:border-box;
    border:2px solid red;
    white-space:nowrap;
}
.scrolltext span
{
    display:inline-block;
    padding-left:100%;
    animation-timing-function:linear;
    animation-duration:15s;
    animation-iteration-count:infinite;
    animation-name:scroll-right-left;
}
@keyframes scroll-right-left{
    from{transform:translateX(100%);}
     to{transform:translateX(-100%);}
}
.scrollright
{
    font-family:'Lucida Grande';
    font-style:oblique;
    font-size:30px;
    width:100%;
    color:brown;
    overflow:hidden;
    box-sizing:border-box;
    border:2px solid red;
    white-space:nowrap;
}
.scrollright span
{
    display:inline-block;
    padding-left:100%;
    animation-timing-function:linear;
    animation-duration:15s;
    animation-iteration-count:infinite;
    animation-name:scroll-left-right;ssssss
}
@keyframes scroll-left-right{
    from{transform:translateX(-100%);}
     to{transform:translateX(100%);}
}































