/*
element 
class
id 


element
{
    proprety:value
}
class name
{
    proprety:value
}
#id name
{
proprety:value 
}

*/
body
{
    background-color: red;
}

.welcome
{
    text-align: center;
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet
    color: #000;
    border: radius 15px;                     
    padding :2px;
    marign-left:340px;
    marign-right:300px;
}